.dash__title {
    display: inline-block;
    margin: 0;
    line-height: 100px;
    margin-right: 50px;
}

.dash__content {
    padding-left: 25px;
}

.dash__options {
    line-height: 116px;
}

.btn {
	vertical-align: super;
}