.header {
    height: 60px;
    box-shadow: 0px 2px 5px -1px #bbb;
}

.main-ui.container-fluid {
    height: calc( 100vh - 60px);
    overflow-y: inherit;
    overflow-x: hidden;
}

.main-menu {
    height: calc( 100vh - 60px);
    box-shadow: 10px 0px 20px -17px;
    z-index: 100;
    
}
.main-menu--blue
{
    background: #2b8adc; 
    transition: 1s;  
}

img#imagen {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

input#fileUp-input {
    color: #2b8adc;
    border: 0px;
    margin-left: 8%;
}

#micanvas {
   	padding: 15px;
    box-shadow: 0px 0px 15px -5px;
    margin-top: calc( 13vh - 60px );
    width: 80vh;
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 1s;
}

.main-panel {
    max-height: calc(100vh - 60px);
    overflow-x: hidden;
    overflow-y: inherit;
    padding-top: 15px;
}
.main-panel--blue
{
    background: #2b8adc;
    transition: 1s;
}

.main-panel__row {
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.main-panel__point {
    opacity: 0.5;
    padding-bottom: 10px;
    border-radius: 10px;
}

.main-panel__point--active {
    opacity: 1;
    border: 1px solid #dc2b64;
}

.main-panel__point--active:before {
    content: "ACTIVO";
    background-color: #dc2b64;
    color: white;
    padding-right: 8px;
    padding-left: 8px;
    vertical-align: middle;
    border-radius: 13px;
    height: 20px;
    font-size: 10px;
    display: block;
    text-align: center;
    line-height: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.main-panel__point--completed {
    opacity: 1;
    background-color: rgb(231, 240, 255);
}

.main-panel__point--completed:before {
    content: "COMPLETADO";
    background-color: #2b8adc;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: middle;
    border-radius: 13px;
    height: 20px;
    font-size: 10px;
    display: block;
    text-align: center;
    line-height: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.main-panel .card
{
	margin-bottom: 15px; 
}

.main-control.col-md-6 {
    position: absolute;
    right: 0;
    top: 0;
    height: calc( 100vh - 60px);
}
.main-control--blue
{
    background: #f1f1f1;
    transition: 1s;
}

.main-control__upload {
    position: absolute;
    width: 80vh;
    height: 75vh;
    left: 10%;
    border: 4px dashed #2b8adc;
    background-color: white;
    overflow: hidden;
}

.main-control__upload:hover {
    cursor: pointer;
    background-color: #f3f9ff;
}

.main-control__upload h2 {
 	text-align: center;
 	vertical-align: middle;
 	line-height: 65vh;
}

@media (min-width: 768px){
	.main-panel.col-md-5 {
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 42.666667%;
	    -ms-flex: 0 0 42.666667%;
	    flex: 0 0 42.666667%;
	    max-width: 42.666667%;
	}

	.main-panel.col-md-5:hover {
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 41.666667%;
	    -ms-flex: 0 0 41.666667%;
	    flex: 0 0 41.666667%;
	    max-width: 41.666667%;
	    padding-right: 0px;
	}
}


.main-menu__item {
    display: inline-block;
    vertical-align: middle;
    padding-top: 15px;
}

.main-menu__item.brand {
    padding-top: 5px !important;
    position: relative;
}

.main-menu__item.menu {
    float: right;
    margin-right: 5%;
}

.main-menu__item.menu a {
    padding: 0 11px;
    font-size: .9rem;
    opacity: .9;
}

.main-menu__item.brand h1 {
    font-size: 1.7rem;
    line-height: 50px;
}

.style {
    position: absolute;
    right: -170px;
    top: 14px;
    display: inline-block;
    width: 150px;
}

.style #estilo
{
    margin-left: .5rem;
}



/* NUEVO ESTILO*/
.main-panel--white {
    background: white;
    transition: 1s;
}
.main-control--white {
    background: white !important;
    transition: 1s;    
}
.header--white {
    border-bottom: 1px solid #d6d6d6;
    transition: 1s;
}