.nav {
    background: #f2f4f7;
    --nav-height: 90px;
    line-height: var( --nav-height );
    min-height: var( --nav-height );
}

.nav__brand {
    vertical-align: middle;
    width: 100%;
    height: var( --nav-height );
}

.nav__options {
    margin: 0;
    padding: 0;
    height: var( --nav-height );
    text-align: right;
}

.nav__option,
.nav__option.button--icon {
    font-size: 3rem;
    color: black;
    background-color: transparent; 
}

.button {
    padding: 0px 12px;
    line-height: inherit;
    border-radius: 0;
    outline: none;
}

@media (max-width: 768px)
{
    .button {
        padding: 0px 2vw;
    }

}

.button:focus {
    outline: none;
}

.button--icon .button__text {
    display: none;
}


.brand__logo {
    display: inline-block;
    font-size: 4rem;
}

.brand__text {
    display: inline-block;
    font-size: 3rem;
    font-weight: bolder;
    margin: 0;
}


.user__image {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: #c3c3c3;
}

.user__nick {
    text-align: center;
}

@media (max-width: 760px)
{
    .nav {
        --nav-height: 60px;
    }

    .brand__logo {
        font-size: 3rem;
    }

    .brand__text {
        display: none;
    }

    .nav__option.button.button--icon {
        font-size: 2rem;
    }

    .user__image {
        width: 32px;
        height: 32px;
        position: relative;
        left: -5px;
    }

    .filter__icon.icon-constrast {
        float: right;
        width: 100%;
        font-size: 15px;
        line-height: 15px;
        position: absolute;
        right: 16px;
        top: 16px;
    }

}