#blueberry .p_paleta__forma__helado
{
	background: rgba(96,119,234,1);
	background: -moz-linear-gradient(-45deg, rgba(96,119,234,1) 0%, rgba(23,234,216,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(96,119,234,1) 0%, rgba(23,234,216,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(96,119,234,1) 0%, rgba(23,234,216,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(96,119,234,1) 0%, rgba(23,234,216,1) 100%);
	background: linear-gradient(-45deg, rgba(96,119,234,1) 0%, rgba(23,234,216,1) 100%);
}

#mint .p_paleta__forma__helado
{
	background: rgba(97,120,234,1);
	background: -moz-linear-gradient(-45deg, rgba(97,120,234,1) 0%, rgba(22,233,216,0.9) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(97,120,234,1) 0%, rgba(22,233,216,0.9) 100%);
	background: -o-linear-gradient(-45deg, rgba(97,120,234,1) 0%, rgba(22,233,216,0.9) 100%);
	background: -ms-linear-gradient(-45deg, rgba(97,120,234,1) 0%, rgba(22,233,216,0.9) 100%);
	background: linear-gradient(-45deg, rgba(97,120,234,1) 0%, rgba(22,233,216,0.9) 100%);
}

.p_paleta__forma__palo
{
	background: rgba(247,210,159,0.53);
	background: -moz-linear-gradient(0deg, rgba(247,210,159,1) 50%, rgba(247,210,159,0.2) 51%);
	background: -webkit-linear-gradient(0deg, rgba(247,210,159,1) 50%, rgba(247,210,159,0.2) 51%);
	background: -o-linear-gradient(0deg, rgba(247,210,159,1) 50%, rgba(247,210,159,0.2) 51%);
	background: -ms-linear-gradient(0deg, rgba(247,210,159,1) 50%, rgba(247,210,159,0.2) 51%);
	background: linear-gradient(0deg, rgba(247,210,159,1) 50%, rgba(247,210,159,0.2) 51%);

}