@font-face {
   font-family: arialmt;
   font-style: normal;
   font-weight: normal;
   src: url(ari.ttf);
}

@font-face {
   font-family: damion;
   font-style: normal;
   font-weight: normal;
   src: url(Damion-Regular.ttf);
}


.p_titulo {
    text-align: center;
    font-family: damion;
    font-size: 39pt;
    margin-top: 48px;
    margin-bottom: 67px;
}

.color {
    background-color: gray;
    width: 13px;
    height: 13px;
    display: inline-block;
    margin-right: 15px;
}

.p_paletas {
    width: 75%;
    margin: 0 auto;
    max-width: 1024px;
    min-width: 480px;
}

.p_paletas__paleta.p_paleta,
.p_paleta {
    width: 24%;
    display: inline-block;
    margin: 0;
    margin-bottom: 45px;
    box-sizing: border-box !important;
}

.p_paleta:active .p_paleta__forma__helado:before,
.p_paleta--mordida .p_paleta__forma__helado:before {
    position: absolute;
    width: 5vh;
    height: 5vh;
    content: "";
    right: 1vh;
    top: 2vh;
    border-radius: 5vh;
    box-shadow: 0vh 0vh, 3vh 1.5vh 0, -1.5vh -3vh 0, 2vh -2vh;
    color: white;
    background: white;
}

.p_paleta:active .p_paleta__forma__helado,
.p_paleta--mordida .p_paleta__forma__helado {
    position: relative;
}

.p_paleta__info {
    margin: 0 auto;
    width: 17vh;
}

.p_paleta__info h2 {
    font-size: 15pt;
    text-align: center;
    font-weight: bold;
    font-family: damion;
    text-transform: capitalize;
}

.p_paleta__info__color {
    display: block;
    margin-bottom: 15px;
}


.p_paleta__forma {
    position: relative;
}

.p_paleta__forma__helado {
    width: 17vh;
    height: 24vh;
    margin: 0 auto;
    background-color: #d8e8e8;
    border-radius: 8.5vh 8.5vh 4vh 4vh;
}

.p_paleta__forma__palo {
    width: 6vh;
    height: 18vh;
    margin: 0 auto;
    background-color: #f7d39f;
    margin-top: -9vh;
    border-radius: 6vh;
    position: relative;
}

